<h1>Introduction to Python</h1>
<it>This notebook takes you through the essential minimum of Python that you will need for this course</it>

## Print Statement

Print Statement needs round brackets

In [1]:
print("Hello!")

Hello!

In [2]:
# Can string together values which get separated by a space
x = 5.4233
print('Hello!' , x)

Hello! 5.4233

In [3]:
# Adding strings does not add a space 
print("Hello" + str(x) + "EDHEC")

Hello5.4233EDHEC

In [4]:
# We add the space in ourselves 
print("Hello " + str(x) + " EDHEC")

Hello 5.4233 EDHEC

<h2> DataTypes</h2>

Python is not a typed language meaning that rather than the programmer define the data type of a variable. Python determines the data type based on the type of value assigned to the variable

### Integers

In [5]:
# Integers
x = 3
y = 2

In [6]:
# How to check
type(x)

int

In [7]:
type(y)

int

In [8]:
# Python is smart enough to do the division without 
# explicit conversion to floats
x/y

1.5

In [9]:
# Result of a division is a float
type(x/y)

float

### Floats

In [10]:
# I can change the type of x if I assign a non integer value
x=22421.2242239

In [11]:
# It is stored to around 16 significant places - good enough for financial work
x

22421.2242239

In [12]:
type(x)

float

In [13]:
x*x

502711295.6984002

Can set the displayed precision

In [14]:
%precision %10.4f

'%10.4f'

In [15]:
x

22421.2242

### Strings

In [16]:
# We can create string types
x = "Hello Edhec"

In [17]:
type(x)

str

In [18]:
print(x)

Hello Edhec

### Booleans

In [19]:
# Use == to compare for equivalence 
1==1

True

In [20]:
1==0

False

In [21]:
if 1==1:
    print(True)
else:
    print(False)

True

### Lists

In [22]:
# We can also have a type called a list that can have different types
list1 = ['EDHEC Business School', 493, 'Promenade des Anglais', 
         'France', 'World', 'Solar System' ]

In [23]:
# We get the number of elements in the list from the function len
len(list1)

6

In [24]:
# We can access individual elements in a list using an index
list1[2]

'Promenade des Anglais'

In [27]:
# We can access sublists as follows - the first element starts at 0 !!
list1[1:4]

[493, 'Promenade des Anglais', 'France']

In [28]:
# We can add to the list using append
list1.append('Galaxy')
print(list1)

['EDHEC Business School', 493, 'Promenade des Anglais', 'France', 'World', 'Solar System', 'Galaxy', 'Galaxy']

In [29]:
# We can loop over the elements of a list
# NOTE THE INDENTATION AFTER THE :
for l in list1:
    print(l)

EDHEC Business School
493
Promenade des Anglais
France
World
Solar System
Galaxy
Galaxy

In [49]:
list2 = [2,4,2,5,2,5,3,9,5,8,4,1,3,5]

In [50]:
type(list2)

list

In [51]:
list2.sort()

In [52]:
list2

[1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 5, 8, 9]

In [53]:
list2.reverse()

In [54]:
list2

[9, 8, 5, 5, 5, 5, 4, 4, 3, 3, 2, 2, 2, 1]

Remove a specific value from the list once

In [55]:
list2.remove(8)

In [56]:
list2

[9, 5, 5, 5, 5, 4, 4, 3, 3, 2, 2, 2, 1]

### Tuples

Tuples are like lists but cannot be changed

In [57]:
tup = (1,'Fred',234.4432,'Fred')
type(tup)

tuple

In [58]:
print(tup)

(1, 'Fred', 234.4432, 'Fred')

In [59]:
# We can access elements using an index just like lists
tup[2]

  234.4432

In [60]:
tup.count('Fred')

2

In [61]:
# This will fail as we cannot assign to a tuple
tup[2] = 1893.343

TypeError: 'tuple' object does not support item assignment

## Dictionaries

Use to store key:value pairs

In [63]:
dict = {'Name' : 'Pierre' , 'Age': 23, 'Nationality' : 'French'}

In [64]:
print(dict['Name']) 
print(dict['Age'])
print(dict['Nationality'])

Pierre
23
French

In [65]:
dict['Age'] = 24

In [66]:
print(dict['Name']) 
print(dict['Age'])
print(dict['Nationality'])

Pierre
24
French

In [67]:
dict.values()

dict_values(['Pierre', 24, 'French'])

In [68]:
dict.keys()

dict_keys(['Name', 'Age', 'Nationality'])

In [69]:
dict.get("Name")

'Pierre'

## Fancy Printing

Sometimes we need more control over the output

In [70]:
x = 3.34239239203898239892938; string = 'Hello'

In [71]:
print('x = ',x)

x =  3.3423923920389824

f is the code for a floating point number so %7.5f means format the number to take up 7 characters with 5 dp

In [72]:
print('x = %7.5f' % x)

x = 3.34239

'f' is the code for a floating point number
%12.5f means format the number to take up 12 characters with 5 decimal places

In [73]:
print('x = %12.5f' % x)

x =      3.34239

f is the code for a floating point number %6.5f means format the number to take up 6 characters with 5 decimal places

In [74]:
print('x = %6.5f' % x)

x = 3.34239

We can add in strings too - formatting code is 's' - but we need to then combine them into a tuple

In [75]:
print('%s = %7.5f' % (string,x))

Hello = 3.34239

<h2> Mathematical Operations</h2>

I wanted to make sure that x is defined as a float so I added on some decimal places

In [76]:
x=15.0

In [77]:
x

   15.0000

In [78]:
y = x * x / 2 - x + 3

In [79]:
y

  100.5000

In [80]:
type(y)

float

In [81]:
print(y)

100.5

We will need to loop over integers and for this the range function is important

In [82]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

## Date Library
In finance we need to be able to handle the dates of the cashflows that are due.

In [83]:
import datetime as dt
print('Current date and time: ', dt.datetime.now())
print(dt.datetime.now().strftime('%y/%m/%d %H:%M'))
print('Current year:' , dt.datetime.now().strftime('%Y'))
print('Month of year: ', dt.datetime.now().strftime('%B'))
print('Day of the month : ', dt.datetime.now().strftime('%d'))

Current date and time:  2021-09-02 20:02:28.218624
21/09/02 20:02
Current year: 2021
Month of year:  September
Day of the month :  02

In [84]:
# Create your own dates
import datetime as dt
tradeDate = dt.date(2017,3, 13)  # 13 March 2017
expiryDate = dt.date(2020,3,20)  # 20 March 2020

In [85]:
today = dt.date.today()
print(today)
print('ctime:', today.ctime())
print('Year:', today.year)
print('Mon :', today.month)
print('Day :', today.day)

2021-09-02
ctime: Thu Sep  2 00:00:00 2021
Year: 2021
Mon : 9
Day : 2

In [86]:
dateDiff = expiryDate - tradeDate
print(dateDiff)

1103 days, 0:00:00

In [87]:
# That is a time delta object - to get the number of days
print(dateDiff.days)
type(dateDiff.days)

1103

int

In [88]:
dateString = "Aug 28 1999 12:00AM"

In [89]:
# convert a date string to a datetime
date = dt.datetime.strptime(dateString, '%b %d %Y %I:%M%p')

In [90]:
print(date)

1999-08-28 00:00:00

## Math Library

To use more advanced functions we need to import the standard Python maths library

In [91]:
import math

In [92]:
# We can call it as follows
y = 10.0
x = math.exp(y)

In [93]:
print(x)

22026.465794806718

Having to prefix the function name with "math" every time is ugly and complicates the code. We do this instead.

In [94]:
from math import exp

In [95]:
x = exp(y)

In [96]:
print(x)

22026.465794806718

Some people do the following

In [97]:
from math import *

In [98]:
# We can then access every function in the math library
y = 10
x=factorial(y)

In [99]:
print(x)

3628800

But this is not advised - it pollutes the name space and you may find that functions have the same name as functions you want
to create

My preferred option is <b>from math import xxx, yyy</b> where xxx, yyy are the functions required

In [100]:
# We can use lists to create matrices as a list of lists
m = [[1,4,5],[3,2,7]]

In [101]:
# We can reference elements using row then column with indices that start at 0
m[0][0]

1

In [102]:
 m[1][2]

7

In [103]:
print(m)

[[1, 4, 5], [3, 2, 7]]

In [104]:
m[1][1]

2

## Python Control Flow

In [105]:
# Loops are controlled using the for command
words = ['cat', 'monkey', 'hippopotamus']

for w in words:
    print(w, len(w))

cat 3
monkey 6
hippopotamus 12

In [106]:
for i in range(0,4):
    print(i**2)

0
1
4
9

In [107]:
x=5
  
if x < 0:
    print("X is negative")
elif x < 10:
    print("X is positive but less than 10")
else:
    print("X is positive and greater than 10")

X is positive but less than 10

In [108]:
# Break command exits an inner loop
for n in range(2, 10):
    prime = True
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            prime = False
            break
        
    if prime == True:
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0


## Python Functions

In [109]:
from math import exp
# Use the keyword def to start the function and indent the function body
# There is no need to define the type of the function's inputs
def sigmoid(x): 
    ''' This function returns the value of the sigmoid function '''
    e = exp(-x)
    s = 1.0/(1.0+e)
    return s

In [110]:
sigmoid(10.0)

    1.0000

In [111]:
sigmoid(-10.0)

    0.0000

In [112]:
sigmoid(0.0)

    0.5000

In [113]:
help(sigmoid)

Help on function sigmoid in module __main__:

sigmoid(x)
    This function returns the value of the sigmoid function

In [114]:
# Functions can return more than one value
from math import exp
# Use the keyword def to start the function and indent the function body
# There is no need to define the type of the function's inputs
def sigmoid2(x): 
    ''' This function returns the value of the sigmoid function '''
    e = exp(-x)
    s = 1.0/(1.0+e)
    return s, e

In [115]:
# The value of s,e are internal to the function and not valid outside
# print(s,e)

In [116]:
ret = sigmoid2(1.0)
print(ret)

(0.7310585786300049, 0.36787944117144233)

In [117]:
# We can assign the value of the function as follows
x,y = sigmoid2(1.0)

In [118]:
print(x,y)

0.7310585786300049 0.36787944117144233

In [119]:
import datetime as dt

def yearFraction(d1,d2,daysInYear = 365.252):
    dateDiff = d2 - d1
    yearFraction = dateDiff.days / daysInYear
    return yearFraction

In [120]:
startDt = dt.datetime(2011,1,1)
endDt = dt.datetime(2011,6,1)
yearFraction(startDt, endDt, 365)

    0.4137

In [121]:
yearFraction(d1=startDt, d2=endDt)

    0.4134

In [122]:
yearFraction(d2=endDt, d1=startDt, daysInYear=365)

    0.4137

In [123]:
def circle1(r):
    area = math.pi * r * r
    circum = 2 * math.pi * r
    return area, circum

In [124]:
circle1(3)

(   28.2743,    18.8496)

In [125]:
a = []
c = []

for r in range(1,11):
    area, circum = circle1(r)
    a.append(area)
    c.append(circum)

print(a)
print(c)

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483, 113.09733552923255, 153.93804002589985, 201.06192982974676, 254.46900494077323, 314.1592653589793]
[6.283185307179586, 12.566370614359172, 18.84955592153876, 25.132741228718345, 31.41592653589793, 37.69911184307752, 43.982297150257104, 50.26548245743669, 56.548667764616276, 62.83185307179586]

In [126]:
def circle2(r):
    area = math.pi * r * r
    circum = 2 * math.pi * r
    d = { "Area": area, "Circum":circum}
    return d

In [129]:
a = []
c = []

for r in range(1,11):
    dout = circle2(r)
    a.append(dout["Area"])
    c.append(dout["Circum"])

print("AREAS:", a)
print("CIRCUMFERENCES:", c)

AREAS: [3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483, 113.09733552923255, 153.93804002589985, 201.06192982974676, 254.46900494077323, 314.1592653589793]
CIRCUMFERENCES: [6.283185307179586, 12.566370614359172, 18.84955592153876, 25.132741228718345, 31.41592653589793, 37.69911184307752, 43.982297150257104, 50.26548245743669, 56.548667764616276, 62.83185307179586]